In [17]:
# Dependencies
import pandas as pd
import numpy as np

In [18]:
# # dfr is a complete list of countries and continent codes
# pd.read_csv('../data_sources/DataHub/')

In [19]:
# Read CSV into pandas dataframe.
df = pd.read_csv('trans_prices_to_growers.csv')

## Peek Analysis
It is immediately evident the transpose in excel created some minor problems: 

(a) the data set contains columns intended for naming elements in sets (i.e. Colombia, Kenya, and Tanzania all belong with 'Colombian Milds.').

(b) there are unnamed rows with nothing in them.

(c) there are columns with names appended .1 (i.e. Papua New Guinea.1) which represent special types of coffee (soluble).

In [20]:
# Preview df
df.head()

,Calendar years,Unnamed: 1,Colombian Milds,Colombia,Kenya,Tanzania,Unnamed: 6,Other Milds,Bolivia (Plurinational State of),Burundi,...,Papua New Guinea.1,Philippines.1,Sierra Leone,Sri Lanka.1,Tanzania.1,Thailand.1,Togo,Trinidad & Tobago,Uganda.1,Viet Nam.1
0,1990,NaN,NaN,69.52,60.57,40.82,NaN,NaN,51.78,58.02,...,26.60,34.23,26.17,26.90,17.01,37.72,29.23,62.59,7.54,36.92
1,1991,NaN,NaN,67.13,50.68,49.50,NaN,NaN,52.42,55.02,...,29.48,34.61,NaN,25.29,17.11,18.37,28.64,62.59,11.84,30.73
2,1992,NaN,NaN,54.57,28.95,49.16,NaN,NaN,43.53,59.23,...,39.10,42.48,NaN,31.85,14.84,20.30,29.83,69.29,8.95,30.71
3,1993,NaN,NaN,50.12,47.64,38.28,NaN,NaN,27.33,58.27,...,54.80,46.45,NaN,28.89,11.88,18.29,22.64,72.20,11.77,34.53
4,1994,NaN,NaN,85.99,152.61,62.16,NaN,NaN,79.92,60.68,...,95.64,94.66,NaN,71.99,24.00,18.79,25.99,64.14,41.66,86.01

In [21]:
# Dtypes look clean
df.dtypes

Calendar years         int64
Unnamed: 1           float64
Colombian Milds      float64
Colombia             float64
Kenya                float64
                      ...
Thailand.1           float64
Togo                 float64
Trinidad & Tobago    float64
Uganda.1             float64
Viet Nam.1           float64
Length: 74, dtype: object

## Cleaning Data
### Investigating columns
#### Observations
1. Unnamed and other problem columns have dtype int64 but actually contain NaNs.
    
    a. We will want to drop Unnamed columns but keep columns referencing coffee type.

In [24]:
# Find the values that belong in a soluble coffee category
# And clean up label.
col = df.columns
col

res = [sub.replace('.1', '') for sub in col] 
df.columns = res
len(df.columns)

74

In [25]:
# Get column names and turn into a list for iteration
cols = list(res)

count = 0
lst_garb = []

# Count and print list of unwanted column names
for col in cols:
    if "Unnamed" in col:
        count += 1
        lst_garb.append(col)
        
print(count)
print(lst_garb)

len(res)

3
['Unnamed: 1', 'Unnamed: 6', 'Unnamed: 35']

74

In [8]:
# df1 dropped df cols
df1 = df.drop(columns=lst_garb)
df1.head()
len(df1.columns)

71

In [9]:
# Observed a blank column
df1 = df1.drop(columns=(' '))
len(df1.columns)

70

In [27]:
# assign cols with new df1 columns
cols = df1.columns

# 29 rows of data expected
exp_row = len(df1.index)

# Empty lists for iteration and appending
lst_col_drop = []
lst_col_miss = ['Calendar years']
lst_col_good = []

# Set of lists to create a df for missing
lst_key_miss = []
lst_val_miss = []

# Collect columns with missing data for a dataframe
lst_dict_miss = []

for idx, col in enumerate(cols):
    count_na = 0
    for row in df1[col]:
        if row == '' or pd.isnull(row):
            count_na += 1
            
    # Country has any missing values append
    if count_na > 0 and count_na < exp_row: 
        key = col
        val = count_na
        
        lst_key_miss.append(key)
        lst_val_miss.append(val)
        
        lst_col_miss.append(col)
        
        print(f"""
        x{'-'*4}(Missing Values){'-'*4}x
        {key} : {val}
        """)
        
    # Column only has missing values append
    if count_na == exp_row:
        key = col
        val = count_na
        
        lst_col_drop.append(col)
        
        print(f"""
        #{'-'*4}(Region Category){'-'*4}#
        {key} : {val}
        """)
    
    # Country has no missing values append
    if count_na == 0:
        key = col
        val = count_na
        
        lst_col_good.append(col)
        
        print(f"""
        ${'-'*4}(Good Series){'-'*4}$
        {key} : {val}
        """)

    
print(f"""
=====
Summary
-----
{len(cols)} total columns.

{len(lst_col_drop)} columns to drop.
{len(lst_key_miss)} columns with missing data.
{len(lst_col_good)} columns with complete data.
""")

        $----(Good Series)----$
        Calendar years : 0


        #----(Region Category)----#
        Colombian Milds : 29


        $----(Good Series)----$
        Colombia : 0


        x----(Missing Values)----x
        Kenya : 14


        $----(Good Series)----$
        Tanzania : 0


        #----(Region Category)----#
        Other Milds : 29


        x----(Missing Values)----x
        Bolivia (Plurinational State of) : 11


        $----(Good Series)----$
        Burundi : 0


        $----(Good Series)----$
        Cameroon : 0


        x----(Missing Values)----x
        Costa Rica : 1


        x----(Missing Values)----x
        Cuba : 1


        $----(Good Series)----$
        Democratic Republic of Congo : 0


        $----(Good Series)----$
        Dominican Republic : 0


        $----(Good Series)----$
        Ecuador : 0


        $----(Good Series)----$
        El Salvador : 0


        $----(Good Series)----$
        Guatemala : 0


        x----(Missing Values)----x
        Haiti : 18


        $----(Good Series)----$
        Honduras : 0


        $----(Good Series)----$
        India : 0


        x----(Missing Values)----x
        Jamaica : 6


        $----(Good Series)----$
        Madagascar : 0


        x----(Missing Values)----x
        Malawi : 8


        x----(Missing Values)----x
        Mexico : 10


        x----(Missing Values)----x
        Nicaragua : 13


        x----(Missing Values)----x
        Panama : 20


        $----(Good Series)----$
        Papua New Guinea : 0


        x----(Missing Values)----x
        Peru : 4


        x----(Missing Values)----x
        Rwanda : 13


        $----(Good Series)----$
        Sri Lanka : 0


        $----(Good Series)----$
        Uganda : 0


        #----(Region Category)----#
        Venezuela : 29


        x----(Missing Values)----x
        Zambia : 7


        #----(Region Category)----#
        Zimbabwe : 29


        #----(Region Category)----#
        Brazilian Naturals : 29


        $----(Good Series)----$
        Angola : 0


        $----(Good Series)----$
        Brazil : 0


        $----(Good Series)----$
        Ethiopia : 0


        $----(Good Series)----$
        Indonesia : 0


        $----(Good Series)----$
        Philippines : 0


        $----(Good Series)----$
        Thailand : 0


        $----(Good Series)----$
        Viet Nam : 0


        #----(Region Category)----#
        Robustas : 29


        $----(Good Series)----$
        Angola : 0


        x----(Missing Values)----x
        Benin : 26


        $----(Good Series)----$
        Brazil : 0


        $----(Good Series)----$
        Burundi : 0


        $----(Good Series)----$
        Cameroon : 0


        x----(Missing Values)----x
        Central African Republic : 6


        x----(Missing Values)----x
        Congo : 22


        x----(Missing Values)----x
        CÃ´te d'Ivoire : 1


        $----(Good Series)----$
        Democratic Republic of Congo : 0


        $----(Good Series)----$
        Ecuador : 0


        x----(Missing Values)----x
        Gabon : 9


        x----(Missing Values)----x
        Ghana : 22


        x----(Missing Values)----x
        Guinea : 23


        $----(Good Series)----$
        India : 0


        $----(Good Series)----$
        Indonesia : 0


        #----(Region Category)----#
        Liberia : 29


        $----(Good Series)----$
        Madagascar : 0


        x----(Missing Values)----x
        Nigeria : 24


        $----(Good Series)----$
        Papua New Guinea : 0


        $----(Good Series)----$
        Philippines : 0


        x----(Missing Values)----x
        Sierra Leone : 26


        $----(Good Series)----$
        Sri Lanka : 0


        $----(Good Series)----$
        Tanzania : 0


        $----(Good Series)----$
        Thailand : 0


        $----(Good Series)----$
        Togo : 0


        x----(Missing Values)----x
        Trinidad & Tobago : 19


        $----(Good Series)----$
        Uganda : 0


        $----(Good Series)----$
        Viet Nam : 0


=====
Summary
-----
70 total columns.

7 columns to drop.
23 columns with missing data.
40 columns with complete data.

=====
Summary
-----
67 total columns.

4 columns to drop.
49 columns with missing data.
13 columns with complete data.

In [11]:
# Assign regions with missing values to df
df_missing_list = pd.DataFrame(data=({
    'Country': lst_key_miss, 
    'Missing_Rows': lst_val_miss
}))


df_missing_list.to_csv('prod_missing_data_list.csv')

In [28]:
# Save to csv
df_good = df1[lst_col_good]
df_good.to_csv('prod_complete_data.csv')

In [29]:
df_missing = df1[lst_col_miss]
df_missing.to_csv('prod_missing_data.csv')

In [30]:
df_drop = df1[lst_col_drop]
df_drop.to_csv('orginal_category_data.csv')

In [31]:
yes = 0
for col in lst_col_good:
    if col in df.columns:
        yes += 1
    print(df1[col])
        
df1.Tan

0     1990
1     1991
2     1992
3     1993
4     1994
5     1995
6     1996
7     1997
8     1998
9     1999
10    2000
11    2001
12    2002
13    2003
14    2004
15    2005
16    2006
17    2007
18    2008
19    2009
20    2010
21    2011
22    2012
23    2013
24    2014
25    2015
26    2016
27    2017
28    2018
Name: Calendar years, dtype: int64
0      69.52
1      67.13
2      54.57
3      50.12
4      85.99
5      99.62
6      93.56
7     133.17
8     102.08
9      86.38
10     74.96
11     57.95
12     52.57
13     48.34
14     60.83
15     89.22
16     89.81
17    100.05
18    114.22
19    138.96
20    180.55
21    239.68
22    166.69
23    113.91
24    159.71
25    119.40
26    123.56
27    125.76
28    113.52
Name: Colombia, dtype: float64
    Tanzania  Tanzania
0      40.82     17.01
1      49.50     17.11
2      49.16     14.84
3      38.28     11.88
4      62.16     24.00
5      86.76     44.61
6      62.53     32.20
7     118.52     92.48
8      90.70     28.19
9      65.88     23.52
10     54.32     15.29
11     34.86      5.21
12     25.93      4.30
13     24.78      6.72
14     26.37      7.55
15     43.69     14.27
16     42.77     21.45
17     59.78     21.38
18     63.38     35.32
19       NaN       NaN
20       NaN       NaN
21       NaN       NaN
22       NaN       NaN
23       NaN       NaN
24       NaN       NaN
25       NaN       NaN
26       NaN       NaN
27       NaN       NaN
28       NaN       NaN
    Burundi  Burundi
0     58.02      NaN
1     55.02      NaN
2     59.23    47.16
3     58.27    41.80
4     60.68    41.45
5     56.69    42.34
6     51.97    40.45
7     52.79    40.19
8     52.22    35.36
9     46.57      NaN
10    37.35      NaN
11    32.19      NaN
12    29.17      NaN
13    24.88      NaN
14    27.36      NaN
15    42.93      NaN
16    63.45      NaN
17    80.35      NaN
18    86.19      NaN
19    85.68      NaN
20    85.69      NaN
21      NaN      NaN
22      NaN      NaN
23      NaN      NaN
24      NaN      NaN
25      NaN      NaN
26      NaN      NaN
27      NaN      NaN
28      NaN      NaN
    Cameroon  Cameroon
0      32.29     28.33
1      28.23     25.01
2      28.76     24.25
3      23.25     17.40
4      88.32     29.85
5      85.26     52.08
6      80.95     51.02
7      43.64     38.90
8      66.83     36.46
9      88.41     31.30
10     33.22     30.44
11     19.09     21.13
12     24.56     16.05
13     35.27     22.26
14       NaN       NaN
15       NaN       NaN
16       NaN       NaN
17     80.19     55.13
18     79.13     52.54
19     66.05     37.74
20       NaN       NaN
21       NaN       NaN
22       NaN       NaN
23     82.87     66.43
24       NaN       NaN
25       NaN       NaN
26       NaN       NaN
27       NaN       NaN
28     70.79     45.22
    Democratic Republic of Congo  Democratic Republic of Congo
0                            NaN                          4.52
1                            NaN                           NaN
2                            NaN                           NaN
3                            NaN                           NaN
4                            NaN                           NaN
5                          51.12                         28.35
6                          68.04                         32.89
7                          85.05                         45.36
8                          63.14                         44.28
9                            NaN                         88.18
10                           NaN                         45.04
11                           NaN                          7.95
12                           NaN                          2.96
13                           NaN                          5.61
14                           NaN                           NaN
15                           NaN                           NaN
16                           NaN                           NaN
17                           NaN                           NaN
18                           NaN                           NaN
19                           NaN                           NaN
20                           NaN                           NaN
21                           NaN                           NaN
22                           NaN                           NaN
23                           NaN                           NaN
24                           NaN                           NaN
25                           NaN                           NaN
26                           NaN                           NaN
27                         62.37                         45.36
28                         62.37                         45.36
0      66.06
1      62.64
2      46.56
3      53.12
4     112.26
5     109.26
6      87.67
7     166.41
8      95.25
9      74.18
10     68.01
11     42.04
12     50.83
13     49.57
14     75.70
15     87.92
16     86.29
17     87.13
18    101.45
19    106.04
20    139.13
21    191.07
22    147.81
23    140.98
24    183.56
25    171.01
26    177.19
27    173.36
28    153.61
Name: Dominican Republic, dtype: float64
    Ecuador  Ecuador
0     35.21    19.06
1     36.18    17.84
2     29.08    23.31
3     27.66    19.52
4     76.42    63.29
5    173.30   143.62
6    141.13    97.51
7    167.92    61.19
8    110.60    66.63
9     78.05    47.48
10    65.97    32.70
11    27.28    11.26
12    27.36    12.00
13    31.06    21.86
14    51.19    29.75
15    91.62    50.96
16    92.45    53.73
17   110.52    64.90
18   145.04    79.26
19   147.09    77.99
20   161.88    80.55
21   227.21    95.26
22   183.90    95.12
23   122.24    76.40
24   100.45    46.47
25      NaN      NaN
26      NaN      NaN
27      NaN      NaN
28      NaN      NaN
0      50.56
1      44.54
2      30.91
3      35.35
4      99.26
5     100.51
6      75.02
7     125.14
8      85.05
9      56.92
10     44.55
11     17.63
12     21.84
13     25.69
14     39.30
15     67.10
16     67.49
17     75.24
18     86.05
19     79.19
20    109.88
21    186.74
22    120.12
23     95.28
24    117.01
25     87.45
26     89.53
27     87.62
28     74.53
Name: El Salvador, dtype: float64
0      54.58
1      57.53
2      40.23
3      41.43
4      75.32
5      99.34
6      83.77
7      97.25
8     102.45
9      79.24
10     70.37
11     45.35
12     49.61
13     48.42
14     66.91
15     92.46
16     91.19
17     98.31
18    111.03
19    109.64
20    144.77
21    212.41
22    165.98
23    127.06
24    152.83
25    139.22
26    135.47
27    134.12
28    122.18
Name: Guatemala, dtype: float64
0      50.35
1      56.12
2      40.14
3      37.54
4      81.57
5     102.55
6      67.66
7     116.88
8      93.26
9      61.48
10     54.29
11     34.32
12     37.06
13     41.71
14     50.22
15     78.69
16     80.82
17     81.63
18     90.56
19     83.72
20    125.16
21    200.02
22    141.15
23    101.80
24    118.94
25    110.97
26     93.17
27     90.77
28     84.04
Name: Honduras, dtype: float64
     India   India
0    66.75   44.35
1    61.53   40.65
2    53.96   39.77
3    57.92   44.21
4    78.41   56.46
5    84.72   66.53
6    78.32   56.67
7   130.18   76.30
8    99.47   75.62
9    67.44   57.61
10   63.75   35.87
11   43.82   23.44
12   39.61   22.08
13   43.45   28.60
14   58.32   30.80
15   96.53   52.42
16   95.86   61.35
17  108.03   79.38
18  121.70   96.12
19  136.89   73.13
20  151.08   77.96
21  228.46  109.60
22  161.98  104.65
23  117.06   94.88
24  175.65  104.63
25  157.10   87.95
26  132.21   82.71
27  135.75   94.97
28  110.12   78.48
    Madagascar  Madagascar
0          NaN       32.45
1          NaN       22.76
2          NaN       22.62
3          NaN       36.27
4          NaN       43.99
5        87.35       58.73
6        94.72       61.06
7        58.74       49.48
8        50.35       48.25
9        43.49       38.05
10      155.83      109.00
11       64.59       51.66
12       72.50       55.70
13       86.58       55.92
14       46.82       19.74
15       50.80       30.24
16         NaN       41.71
17         NaN       69.57
18         NaN         NaN
19         NaN         NaN
20         NaN         NaN
21         NaN         NaN
22         NaN         NaN
23         NaN         NaN
24         NaN         NaN
25         NaN         NaN
26         NaN         NaN
27         NaN         NaN
28         NaN         NaN
    Papua New Guinea  Papua New Guinea
0              65.50             26.60
1              64.53             29.48
2              57.96             39.10
3              84.92             54.80
4             149.08             95.64
5              83.98             66.31
6              95.02             63.75
7             153.74             75.43
8             104.85             59.15
9              60.82             37.70
10             49.28             21.89
11             32.97             12.00
12             31.66             13.31
13             36.99             17.31
14             41.10             22.16
15             62.26             24.30
16             71.28             32.89
17             76.69             23.91
18            111.78             34.90
19             72.75             27.57
20             94.89             29.45
21            141.24             37.68
22             98.82             37.24
23             61.99             24.04
24             86.31             22.63
25             66.52             25.10
26             57.50             21.54
27               NaN               NaN
28               NaN               NaN
    Sri Lanka  Sri Lanka
0         NaN      26.90
1         NaN      25.29
2         NaN      31.85
3         NaN      28.89
4       71.99      71.99
5       98.99      93.24
6         NaN        NaN
7         NaN        NaN
8         NaN        NaN
9         NaN        NaN
10        NaN        NaN
11        NaN        NaN
12        NaN        NaN
13        NaN        NaN
14        NaN        NaN
15        NaN        NaN
16        NaN        NaN
17        NaN        NaN
18        NaN        NaN
19        NaN        NaN
20        NaN        NaN
21        NaN        NaN
22        NaN        NaN
23        NaN        NaN
24        NaN        NaN
25        NaN        NaN
26        NaN        NaN
27        NaN        NaN
28        NaN        NaN
    Uganda  Uganda
0    15.29    7.54
1    29.64   11.84
2    20.00    8.95
3    25.02   11.77
4    75.50   41.66
5    68.26   59.79
6    53.00   37.44
7    80.31   41.69
8    78.75   40.02
9    46.56   31.52
10   41.00   19.92
11   27.51   10.57
12   27.52   12.78
13   28.64   20.81
14   35.99   26.26
15   57.86   40.82
16   55.34   47.02
17   65.01   55.88
18   73.32   71.09
19   60.54   49.03
20   87.23   55.61
21  147.03   73.54
22   93.68   71.80
23   70.03   67.71
24  103.70   70.18
25   81.27   60.22
26   71.09   59.41
27   77.00   63.95
28   68.25   57.23
    Angola  Angola
0      NaN   85.66
1      NaN   91.12
2      NaN   44.92
3      NaN   11.87
4      NaN     NaN
5      NaN     NaN
6      NaN     NaN
7      NaN     NaN
8      NaN     NaN
9      NaN     NaN
10     NaN   51.74
11     NaN   18.61
12     NaN   10.71
13     NaN    6.61
14     NaN    9.92
15     NaN   10.42
16     NaN   12.98
17     NaN   36.05
18     NaN   42.32
19     NaN   40.14
20     NaN   44.39
21     NaN   48.29
22   57.02   47.51
23   37.64   31.37
24   54.61   46.15
25   45.81   38.18
26  100.46   78.33
27  159.48  132.14
28  120.52  100.43
    Brazil  Brazil
0    54.32   34.85
1    43.99   27.49
2    45.20   27.59
3    52.88   35.54
4   114.57   85.43
5   115.52   97.50
6    96.35   69.78
7   145.41   77.86
8   105.25   77.75
9    74.07   56.93
10   65.98   41.53
11   37.05   19.35
12   30.91   19.99
13   42.82   31.61
14   56.33   34.85
15   87.09   46.47
16   87.02   62.03
17   98.30   78.94
18  109.26   91.58
19  100.80   73.42
20  134.00   74.22
21  224.26  105.29
22  152.29  104.40
23  102.14   85.29
24  134.70   81.16
25  104.49   73.53
26  107.83   92.78
27  110.48   98.21
28   90.78   67.42
0      61.09
1      68.19
2      61.21
3      61.72
4     109.55
5     115.02
6      67.74
7      91.06
8      91.86
9      65.64
10     56.42
11     43.78
12     26.88
13     34.57
14     48.85
15     64.23
16     58.32
17     69.83
18     71.71
19     77.06
20     85.46
21    145.46
22    102.79
23     73.30
24     83.24
25     76.03
26     87.31
27     81.51
28     70.68
Name: Ethiopia, dtype: float64
    Indonesia  Indonesia
0         NaN      29.68
1         NaN      29.92
2         NaN      24.92
3      115.53      28.49
4      173.51      91.38
5         NaN      95.67
6         NaN      58.35
7      112.26      58.43
8       99.41      59.37
9         NaN      46.55
10      68.41      22.40
11      53.61      13.57
12      59.66      14.65
13      42.05      16.61
14      80.62      24.17
15     117.04      34.21
16     107.52      52.47
17     117.99      55.80
18        NaN        NaN
19        NaN        NaN
20        NaN        NaN
21        NaN        NaN
22        NaN        NaN
23        NaN        NaN
24        NaN        NaN
25        NaN        NaN
26        NaN        NaN
27        NaN        NaN
28        NaN        NaN
    Philippines  Philippines
0           NaN        34.23
1           NaN        34.61
2         55.74        42.48
3         54.20        46.45
4         99.62        94.66
5        106.30       104.31
6         76.31        68.91
7         79.74        72.91
8         81.87        76.66
9         64.89        60.14
10        37.04        34.20
11        49.36        23.63
12        21.74        21.45
13        60.63        32.65
14        66.23        31.89
15        80.00        41.69
16        61.51        55.32
17        81.37        74.48
18        95.52        88.33
19          NaN        69.38
20          NaN        65.87
21          NaN       108.38
22       262.01        96.38
23          NaN        90.17
24          NaN          NaN
25          NaN          NaN
26          NaN          NaN
27          NaN          NaN
28          NaN          NaN
    Thailand  Thailand
0        NaN     37.72
1        NaN     18.37
2        NaN     20.30
3        NaN     18.29
4        NaN     18.79
5        NaN     36.84
6        NaN     43.35
7        NaN     21.85
8        NaN     27.33
9        NaN     31.31
10       NaN     12.35
11       NaN     12.75
12       NaN      6.44
13       NaN     13.25
14       NaN     12.83
15       NaN     18.32
16       NaN     46.55
17       NaN     64.67
18       NaN     83.75
19       NaN     90.48
20       NaN     84.50
21       NaN    107.64
22       NaN    103.09
23    203.44    103.77
24    113.33     92.04
25    124.58     96.53
26       NaN       NaN
27       NaN       NaN
28       NaN       NaN
    Viet Nam  Viet Nam
0        NaN     36.92
1        NaN     30.73
2        NaN     30.71
3        NaN     34.53
4        NaN     86.01
5        NaN     95.18
6        NaN     57.42
7        NaN     56.14
8        NaN     65.87
9        NaN     50.70
10       NaN     26.55
11       NaN     15.12
12       NaN     18.14
13       NaN     27.94
14       NaN     26.00
15       NaN     35.90
16       NaN     54.50
17       NaN     71.14
18       NaN     89.15
19       NaN     65.52
20       NaN     67.18
21       NaN     98.57
22     84.47     87.97
23       NaN     90.23
24       NaN       NaN
25       NaN       NaN
26       NaN       NaN
27       NaN       NaN
28       NaN       NaN
    Angola  Angola
0      NaN   85.66
1      NaN   91.12
2      NaN   44.92
3      NaN   11.87
4      NaN     NaN
5      NaN     NaN
6      NaN     NaN
7      NaN     NaN
8      NaN     NaN
9      NaN     NaN
10     NaN   51.74
11     NaN   18.61
12     NaN   10.71
13     NaN    6.61
14     NaN    9.92
15     NaN   10.42
16     NaN   12.98
17     NaN   36.05
18     NaN   42.32
19     NaN   40.14
20     NaN   44.39
21     NaN   48.29
22   57.02   47.51
23   37.64   31.37
24   54.61   46.15
25   45.81   38.18
26  100.46   78.33
27  159.48  132.14
28  120.52  100.43
    Brazil  Brazil
0    54.32   34.85
1    43.99   27.49
2    45.20   27.59
3    52.88   35.54
4   114.57   85.43
5   115.52   97.50
6    96.35   69.78
7   145.41   77.86
8   105.25   77.75
9    74.07   56.93
10   65.98   41.53
11   37.05   19.35
12   30.91   19.99
13   42.82   31.61
14   56.33   34.85
15   87.09   46.47
16   87.02   62.03
17   98.30   78.94
18  109.26   91.58
19  100.80   73.42
20  134.00   74.22
21  224.26  105.29
22  152.29  104.40
23  102.14   85.29
24  134.70   81.16
25  104.49   73.53
26  107.83   92.78
27  110.48   98.21
28   90.78   67.42
    Burundi  Burundi
0     58.02      NaN
1     55.02      NaN
2     59.23    47.16
3     58.27    41.80
4     60.68    41.45
5     56.69    42.34
6     51.97    40.45
7     52.79    40.19
8     52.22    35.36
9     46.57      NaN
10    37.35      NaN
11    32.19      NaN
12    29.17      NaN
13    24.88      NaN
14    27.36      NaN
15    42.93      NaN
16    63.45      NaN
17    80.35      NaN
18    86.19      NaN
19    85.68      NaN
20    85.69      NaN
21      NaN      NaN
22      NaN      NaN
23      NaN      NaN
24      NaN      NaN
25      NaN      NaN
26      NaN      NaN
27      NaN      NaN
28      NaN      NaN
    Cameroon  Cameroon
0      32.29     28.33
1      28.23     25.01
2      28.76     24.25
3      23.25     17.40
4      88.32     29.85
5      85.26     52.08
6      80.95     51.02
7      43.64     38.90
8      66.83     36.46
9      88.41     31.30
10     33.22     30.44
11     19.09     21.13
12     24.56     16.05
13     35.27     22.26
14       NaN       NaN
15       NaN       NaN
16       NaN       NaN
17     80.19     55.13
18     79.13     52.54
19     66.05     37.74
20       NaN       NaN
21       NaN       NaN
22       NaN       NaN
23     82.87     66.43
24       NaN       NaN
25       NaN       NaN
26       NaN       NaN
27       NaN       NaN
28     70.79     45.22
    Democratic Republic of Congo  Democratic Republic of Congo
0                            NaN                          4.52
1                            NaN                           NaN
2                            NaN                           NaN
3                            NaN                           NaN
4                            NaN                           NaN
5                          51.12                         28.35
6                          68.04                         32.89
7                          85.05                         45.36
8                          63.14                         44.28
9                            NaN                         88.18
10                           NaN                         45.04
11                           NaN                          7.95
12                           NaN                          2.96
13                           NaN                          5.61
14                           NaN                           NaN
15                           NaN                           NaN
16                           NaN                           NaN
17                           NaN                           NaN
18                           NaN                           NaN
19                           NaN                           NaN
20                           NaN                           NaN
21                           NaN                           NaN
22                           NaN                           NaN
23                           NaN                           NaN
24                           NaN                           NaN
25                           NaN                           NaN
26                           NaN                           NaN
27                         62.37                         45.36
28                         62.37                         45.36
    Ecuador  Ecuador
0     35.21    19.06
1     36.18    17.84
2     29.08    23.31
3     27.66    19.52
4     76.42    63.29
5    173.30   143.62
6    141.13    97.51
7    167.92    61.19
8    110.60    66.63
9     78.05    47.48
10    65.97    32.70
11    27.28    11.26
12    27.36    12.00