In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read CSV into pandas dataframe.
df = pd.read_csv('trans_retail_prices.csv')

In [3]:
# Preview df
df.head()

,Calendar years,Unnamed: 1,European Union,Austria,Belgium,Bulgaria,Cyprus,Czech Republic,Denmark,Finland,...,Slovenia,Spain,Sweden,United Kingdom 1,Unnamed: 26,Japan,Norway,Russian Federation,Switzerland,USA
0,1990,NaN,NaN,4.90,3.27,NaN,2.83,NaN,3.81,2.98,...,NaN,3.62,3.43,10.55,NaN,10.26,3.31,NaN,4.83,2.97
1,1991,NaN,NaN,4.57,2.92,NaN,2.80,NaN,3.67,2.72,...,NaN,3.50,3.29,10.41,NaN,11.88,3.16,NaN,4.36,2.81
2,1992,NaN,NaN,4.99,3.05,NaN,2.87,NaN,3.79,2.46,...,NaN,3.50,3.11,10.09,NaN,12.62,3.12,NaN,4.52,2.58
3,1993,NaN,NaN,4.97,2.78,NaN,2.60,NaN,3.48,1.94,...,NaN,2.79,2.65,8.44,NaN,14.57,2.46,NaN,4.27,2.47
4,1994,NaN,NaN,4.58,3.42,NaN,3.18,NaN,4.45,2.73,...,NaN,2.76,3.79,11.36,NaN,14.69,3.29,NaN,4.50,3.40

## Peek Analysis
It is immediately evident the transpose in excel created some minor problems: 

(a) the data set contains columns intended for naming elements in sets (i.e. 'European Union').

(b) there are unnamed rows with nothing in them.

(c) there are columns with names appended 1 (i.e. Malta 1) which represent special types of coffee (soluble).

In [4]:
# Dtypes look clean
df.dtypes

Calendar years           int64
Unnamed: 1             float64
European Union         float64
   Austria             float64
   Belgium             float64
   Bulgaria            float64
   Cyprus              float64
   Czech Republic      float64
   Denmark             float64
   Finland             float64
   France              float64
   Germany             float64
   Hungary             float64
   Italy               float64
   Latvia              float64
   Lithuania           float64
   Luxembourg          float64
   Malta 1             float64
   Netherlands         float64
   Poland              float64
   Portugal            float64
   Slovakia            float64
   Slovenia            float64
   Spain               float64
   Sweden              float64
   United Kingdom 1    float64
Unnamed: 26            float64
Japan                  float64
Norway                 float64
Russian Federation     float64
Switzerland            float64
USA                    float64
dtype: object

In [5]:
# Clean up col names
df.columns = df.columns.str.replace("   ","")
df.columns = df.columns.str.replace(" 1",".1")
df.columns

Index(['Calendar years', 'Unnamed:.1', 'European Union', 'Austria', 'Belgium',
       'Bulgaria', 'Cyprus', 'Czech Republic', 'Denmark', 'Finland', 'France',
       'Germany', 'Hungary', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg',
       'Malta.1', 'Netherlands', 'Poland', 'Portugal', 'Slovakia', 'Slovenia',
       'Spain', 'Sweden', 'United Kingdom.1', 'Unnamed: 26', 'Japan', 'Norway',
       'Russian Federation', 'Switzerland', 'USA'],
      dtype='object')

## Cleaning Data
### Investigating columns
#### Observations
1. Unnamed and other problem columns have dtype int64 but actually contain NaNs.
    
    a. We will want to drop Unnamed columns but keep columns referencing coffee type.

In [6]:
# Get column names and turn into a list for iteration
cols = df.columns

count = 0
lst_garb = []

# Count and print list of unwanted column names
for col in cols:
    if "Unnamed" in col:
        count += 1
        lst_garb.append(col)
        
print(count)
print(lst_garb)

2
['Unnamed:.1', 'Unnamed: 26']

In [7]:
# df1 dropped df cols
df1 = df.drop(columns=lst_garb)
df1.head()
len(df1.columns)

30

In [8]:
# assign cols with new df1 columns
cols = df1.columns

# 29 rows of data expected
exp_row = len(df1.index)

# Empty lists for iteration and appending
lst_col_drop = []
lst_col_miss = ['Calendar years']
lst_col_good = []

# Set of lists to create a df for missing
lst_key_miss = []
lst_val_miss = []

# Collect columns with missing data for a dataframe
lst_dict_miss = []

for idx, col in enumerate(cols):
    count_na = 0
    for row in df1[col]:
        if row == '' or pd.isnull(row):
            count_na += 1
            
    # Country has any missing values append
    if count_na > 0 and count_na < exp_row: 
        key = col
        val = count_na
        
        lst_key_miss.append(key)
        lst_val_miss.append(val)
        
        lst_col_miss.append(col)
        
        print(f"""
        x{'-'*4}(Missing Values){'-'*4}x
        {key} : {val}
        """)
        
    # Column only has missing values append
    if count_na == exp_row:
        key = col
        val = count_na
        
        lst_col_drop.append(col)
        
        print(f"""
        #{'-'*4}(Region Category){'-'*4}#
        {key} : {val}
        """)
    
    # Country has no missing values append
    if count_na == 0:
        key = col
        val = count_na
        
        lst_col_good.append(col)
        
        print(f"""
        ${'-'*4}(Good Series){'-'*4}$
        {key} : {val}
        """)

    
print(f"""
=====
Summary
-----
{len(cols)} total columns.

{len(lst_col_drop)} columns to drop.
{len(lst_key_miss)} columns with missing data.
{len(lst_col_good)} columns with complete data.
""")

        $----(Good Series)----$
        Calendar years : 0


        #----(Region Category)----#
        European Union : 29


        $----(Good Series)----$
        Austria : 0


        x----(Missing Values)----x
        Belgium : 5


        x----(Missing Values)----x
        Bulgaria : 12


        $----(Good Series)----$
        Cyprus : 0


        x----(Missing Values)----x
        Czech Republic : 7


        $----(Good Series)----$
        Denmark : 0


        $----(Good Series)----$
        Finland : 0


        $----(Good Series)----$
        France : 0


        $----(Good Series)----$
        Germany : 0


        x----(Missing Values)----x
        Hungary : 4


        $----(Good Series)----$
        Italy : 0


        x----(Missing Values)----x
        Latvia : 3


        x----(Missing Values)----x
        Lithuania : 7


        x----(Missing Values)----x
        Luxembourg : 10


        x----(Missing Values)----x
        Malta.1 : 5


        $----(Good Series)----$
        Netherlands : 0


        x----(Missing Values)----x
        Poland : 5


        $----(Good Series)----$
        Portugal : 0


        x----(Missing Values)----x
        Slovakia : 7


        x----(Missing Values)----x
        Slovenia : 10


        $----(Good Series)----$
        Spain : 0


        $----(Good Series)----$
        Sweden : 0


        $----(Good Series)----$
        United Kingdom.1 : 0


        $----(Good Series)----$
        Japan : 0


        $----(Good Series)----$
        Norway : 0


        x----(Missing Values)----x
        Russian Federation : 20


        x----(Missing Values)----x
        Switzerland : 11


        x----(Missing Values)----x
        USA : 1


=====
Summary
-----
30 total columns.

1 columns to drop.
14 columns with missing data.
15 columns with complete data.

=====
Summary
-----
30 total columns.

1 columns to drop.
14 columns with missing data.
15 columns with complete data.

In [9]:
# Assign regions with missing values to df
df_missing_list = pd.DataFrame(data=({
    'Country': lst_key_miss, 
    'Missing_Rows': lst_val_miss
}))

In [10]:
# df record of missing rows with counts by region
df_missing_list = df_missing_list.sort_values('Missing_Rows', ascending=False).reset_index(drop=True)

# df of complete data 
df_good = df1[lst_col_good]

# df of columns with missing data
df_missing = df1[lst_col_miss]

# df of columns dropped that contained header info
df_drop = df1[lst_col_drop]

In [11]:
# Soluble extraction for complete data
# Get column names and turn into a list for iteration

def extract_sol(df,string):
    f"""
    Takes in dataframe, checks column names against substring,
    and filters and drops.
    """
    
    cols = df.columns

    count = 0
    lst = []

    # Count and print list of unwanted column names
    for col in cols:
        if string in col:
            count += 1
            lst.append(col)

    print(count)
    print(lst)

    # Drop soluble
    df = df.drop(columns=(lst))
    return df

def store_sol(df,string):
    f"""
    Takes in dataframe, checks column names against substring,
    and filters and drops.
    """
    
    cols = df.columns

    count = 0
    lst = []

    # Count and print list of unwanted column names
    for col in cols:
        if string in col:
            count += 1
            lst.append(col)

    print(count)
    print(lst)
    
    return df[lst]

In [12]:
df_good = extract_sol(df_good,".1")
df_good

1
['United Kingdom.1']

,Calendar years,Austria,Cyprus,Denmark,Finland,France,Germany,Italy,Netherlands,Portugal,Spain,Sweden,Japan,Norway
0,1990,4.90,2.83,3.81,2.98,3.73,3.99,5.31,3.03,4.12,3.62,3.43,10.26,3.31
1,1991,4.57,2.80,3.67,2.72,3.43,3.84,5.62,2.95,4.27,3.50,3.29,11.88,3.16
2,1992,4.99,2.87,3.79,2.46,2.31,4.00,5.86,3.13,4.95,3.50,3.11,12.62,3.12
3,1993,4.97,2.60,3.48,1.94,2.03,3.62,4.59,2.80,4.27,2.79,2.65,14.57,2.46
4,1994,4.58,3.18,4.45,2.73,2.40,4.18,4.68,3.26,4.38,2.76,3.79,14.69,3.29
5,1995,5.18,4.26,5.57,3.97,3.69,5.02,5.70,4.03,6.24,4.45,4.85,17.72,4.54
6,1996,5.42,4.13,4.81,3.22,3.30,4.17,5.92,3.65,5.92,4.18,3.96,15.24,3.90
7,1997,4.37,4.04,4.96,3.50,2.76,4.03,5.45,3.67,5.04,3.57,4.35,14.22,4.11
8,1998,3.97,4.61,4.92,3.42,2.78,4.04,5.53,3.67,4.88,3.62,4.41,13.52,3.90
9,1999,3.28,4.39,3.93,2.60,2.55,3.42,5.16,3.11,4.65,3.23,3.51,15.32,3.35
10,2000,3.05,3.58,3.45,2.29,2.15,2.83,4.44,2.81,3.95,2.69,3.03,12.92,2.98
11,2001,2.93,3.58,3.19,1.98,1.99,2.63,4.33,2.55,3.87,2.54,2.54,8.60,2.86
12,2002,2.86,4.05,3.09,1.84,2.07,2.73,4.57,2.60,3.90,2.58,2.55,8.13,3.09
13,2003,3.18,4.92,3.57,2.13,2.50,3.18,5.47,3.20,4.61,3.00,2.94,8.19,3.48
14,2004,3.33,5.23,3.96,2.34,2.72,3.33,6.01,3.47,4.90,3.23,3.08,8.75,3.84
15,2005,3.77,5.28,4.28,2.84,2.75,4.06,6.13,3.75,4.88,3.22,2.99,8.22,4.11
16,2006,4.13,5.34,4.43,2.94,2.97,4.33,6.29,3.96,4.77,3.42,3.16,8.16,3.89
17,2007,4.27,5.76,4.82,3.25,3.41,4.69,7.02,4.45,5.08,3.85,3.53,8.09,4.47
18,2008,4.74,5.67,5.40,3.72,3.86,5.13,7.87,5.05,5.68,4.31,3.76,8.32,4.69
19,2009,6.95,5.53,5.29,3.51,3.79,4.75,7.68,4.70,5.30,4.16,3.55,6.07,4.02
20,2010,6.69,5.21,5.44,3.69,3.62,4.76,7.34,4.57,4.93,3.92,3.99,6.39,4.48
21,2011,8.32,6.06,6.92,5.36,4.13,5.10,8.52,5.98,5.35,4.42,5.58,7.35,5.78
22,2012,8.38,6.36,6.72,4.80,3.92,4.74,8.49,5.83,5.69,4.47,5.20,7.57,5.48
23,2013,8.62,6.47,6.36,4.29,3.92,5.65,8.99,5.74,5.79,4.53,4.34,6.05,5.05
24,2014,8.63,6.48,6.43,4.31,3.77,5.72,8.85,5.71,5.73,4.44,4.11,5.68,7.50
25,2015,7.44,5.30,5.85,3.90,3.11,5.18,7.48,5.38,4.99,3.82,3.82,5.60,5.81
26,2016,5.64,5.30,4.94,3.67,3.26,5.05,7.45,4.77,4.93,3.73,3.48,6.21,5.56
27,2017,6.22,5.50,5.03,4.10,3.40,5.34,7.67,4.83,5.04,3.84,3.57,5.95,5.63
28,2018,6.63,5.79,5.30,4.24,3.68,5.49,8.12,4.68,5.36,4.10,3.24,5.80,5.75

In [18]:
df_missing = extract_sol(df_missing,".1")

0
[]

In [19]:
df_join = df_good.join(df_missing, lsuffix='_dup')
df_join_col = pd.DataFrame((df_join.columns), columns=['Country'])
df_join_col.to_csv('retail_col_names.csv', index=False)

In [20]:
# Save to csv
df_missing_list.to_csv('retail_missing_data_list.csv')

In [21]:
list = df_good.columns

res = [sub.replace(' ', '_') for sub in list] 
df_good.columns = res 
df_good.columns

Index(['Calendar_years', 'Austria', 'Cyprus', 'Denmark', 'Finland', 'France',
       'Germany', 'Italy', 'Netherlands', 'Portugal', 'Spain', 'Sweden',
       'Japan', 'Norway'],
      dtype='object')

In [22]:
df_good.to_csv('retail_complete_data.csv', index=False)

In [23]:
df_missing.to_csv('retail_missing_data.csv')

In [24]:
df_drop.to_csv('ret_orginal_category_data.csv')